---
id: resource-hub
title: Resource Hub | Creative Code Collective
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  <main>

    <h2 class="subtitle">Resource Hub</h2>

    <p class="center"><a href="https://forms.gle/1ffhL7yAdWP6jC5Z6" target="_blank">Submit a resource</a></p>

    <div id="roadmap" class="roadmap">
      <h2>Generator</h2>
      <p>Need inspiration for a new project? Or is there something specific you'd like guidance on? Use this generator to come up with ideas or find specific resources that match any of your queries!</p>
      <p>For example:</p>
      <p>I'd like to learn _____ to do _____ using _____ to make _____. </p>
      <form method="GET" id="generator" action="">
        <div class="action">
          <label for="learn">Learn</label>
          <select name="learn" id="learn">
            <option value="" selected>anything</option>
            {% for tag in learn %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="action">
          <label for="do">Do</label>
          <select name="do" id="do">
            <option value="" selected>anything</option>
            {% for tag in do %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="action">
          <label for="use">Use</label>
          <select name="use" id="use">
            <option value="" selected>anything</option>
            {% for tag in use %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="action">
          <label for="make">Make</label>
          <select name="make" id="make">
            <option value="" selected>anything</option>
            {% for tag in make %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="buttons">
          <button id="searchButton" type="submit">Search</button>
          <button id="randomiseButton" type="button" value="randomise">Randomise</button>
          <button id="resetButton" type="reset">Reset</button>
        </div>
      </form>
      <!-- Should this should all be one form, one filter process, to simplify? Or filter results after search? -SARAH -->
    </div>

    <!-- <p>Filter results by</p>
    <form id="filters" class="filter" method="GET" action="">
      <div class="filter">
        <label for="collections">Collections</label>
        <select name="collections" id="collections">
          <option value="">All</option>
        </select>
      </div>
      <div class="filter">
        <label for="languages">Language</label>
        <select name="languages" id="languages">
          <option value="">All</option>
        </select>
      </div>
      <button id="filterButton" type="filter">Filter</button>
    </form> -->

    <div id="resources">
      <p class="numResourcesText"><span id="numResources">Loading</span> results</p>
      <div class="res">
        <a href="" class="res-title"><h3></h3></a>
        <p class="res-creator"></p>
        <blockquote class="res-blurb"></blockquote>
        <details open class="res-learn">
          <summary>Learn</summary>
        </details>
        <details open class="res-do">
          <summary>Do</summary>
        </details>
        <details open class="res-use">
          <summary>Use</summary>
        </details>
        <details open class="res-make">
          <summary>Make</summary>
        </details>
        <details class="res-languages">
          <summary>Languages</summary>
        </details>
        <details class="res-collections">
          <summary>Collections</summary>
        </details>
      </div>
    </div>

    <div id="resources">
</div>
  </main>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/autocomplete.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>
<script>
    let resources = document.querySelector('.resources')

    // papa parse
    const public_spreadsheet_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTaVhvuhl2fp41u1WTde4FAf5rxW-pZ9GMbREmSDf-wsM8uXdn5GrikJtweUDoqkFW_fHn3QXc1mxpD/pubhtml?output=csv"
    console.log('<a href="' + public_spreadsheet_url + '">' + public_spreadsheet_url + '</a>');

    // old url
    // "https://docs.google.com/spreadsheets/d/e/2PACX-1vTaVhvuhl2fp41u1WTde4FAf5rxW-pZ9GMbREmSDf-wsM8uXdn5GrikJtweUDoqkFW_fHn3QXc1mxpD/pub?output=csv"


    // initialise papa parse

    window.addEventListener('DOMContentLoaded', () => {
      Papa.parse(public_spreadsheet_url, {
        download: true,
        header: true,
        dynamicTyping: true,
        complete: loadData
      })
    });

    function loadData(r){
      let data = r.data
      for (let d in data){
        createResource(data[d])
      }
    }

    function createResource(r){
        let res = document.createElement("div")
        res.classList.add("res", "res--visible", "lab")

        let projectURL = document.createElement("a")
        projectURL.classList.add("ref-link")
        projectURL.href = r.projectURL
        res.appendChild(projectURL)


        if (r.codeURL) {
            codeURL = document.createElement("a")
            codeURL.href = r.codeURL
            res.appendChild(codeURL)
        }

        if (r.image){
            let imgList = r.image
            let imgID = imgList.substring(33,66)
            console.log(imgID)
            //imgList = imgList.split(",").sort()    
            console.log(imgList)
            console.log(imgID)     
            let thumb = document.createElement("img")
            //thumb.src = "http://drive.google.com/uc?export=view&id=" + imgID
            thumb.src = "https://drive.usercontent.google.com/download?id=" + imgID + "&export=view&authuser=0"
            thumb.classList.add("res-thumb")
            projectURL.appendChild(thumb)
        }
        
        let title = document.createElement("h3")
        title.classList.add("res-title")
        title.textContent = r.title
        projectURL.appendChild(title)

        if (r.description){
            let desc = document.createElement("blockquote")
            desc.classList.add("res-blurb")
            desc.textContent = r.description
            res.appendChild(desc)
        }

        if (r.process){
            let proc = document.createElement("blockquote")
            proc.classList.add("res-blurb")
            proc.textContent = r.process
            res.appendChild(proc)
        }

        let creator = document.createElement("p")
        creator.classList.add("res-creator")
        creator.textContent = r.name
        res.appendChild(creator)

        if (r.media){
            let media = document.createElement("p")
            media.classList.add("res-blurb")
            media.textContent = r.media
            res.appendChild(media)
        }

        if (r.major){
            let major = document.createElement("p")
            major.classList.add("res-blurb")
            major.textContent = r.major
            res.appendChild(major)
        }

        if (r.blurb){
            let blurb = document.createElement("p")
            blurb.classList.add("res-blurb")
            blurb.textContent = r.reflection
            //res.appendChild(blurb)
        }
        
        //separate tags and append
        let tagList = r.tags
        if (tagList != null){
            tagList = tagList.split(",").sort()         
            for (let t of tagList){
                console.log(t)
                let tag = document.createElement("button")
                tag.classList.add("tag")
                tag.setAttribute('value', t)
                tag.textContent = t
                res.appendChild(tag)
                }
            }

        resources.appendChild(res)

    }
</script>

  {% include footer.html %}

</body>
</html>