header.bubble2
  if title == "Creative Code Collective"
    span(class="title title_flex") CREATIVE CODE COLLECTIVE
  else
    span(class="title title_breathe") CREATIVE CODE COLLECTIVE
  nav
    ul.links
      li
        a(href="/") Home
      li
        a(href="/resources") Resource Hub