extends layout.pug

block content

  article
  
    section
      h1.page-title INTRODUCTION
    
    section
      h2 ABOUT THE COLLECTIVE
      h3 WHY <span class="ligature">??</span>
      p we need supportive spaces that value our diverse capacities to learn & experiment—fearlessly,)creatively, critically—with code
      h3 WHAT<span class="ligature">++</span>
      p workshops & project troubleshooting
      p co-learning & co-working space
      p online resource hub
      h3 INSPIRED BY <span class="ligature">&gt;&gt;</span>
      p sister spit poetry tour
      p homebrew computer club
      p processing.org
      h3 SHARED VALUES
      ol
        li scrappy artistic strategies, not perfect code
        li growth, not perfection
        li open-source attitude: community, not competition
        li we all have skills to teach each other
        li all practice is theory–practice
        li project-based co-learning
        li learn–make–imagine simultaneously & recursively
        li creativity as collaborative wayfinding (ouija)
    
    section
      h2 WHAT WE DO
      h3 SOME GUEST WORKSHOPS IN THE PAST
      ul
        li Feminist.AI
        li Machine Learning Tactics for Artists
        li Getting Started with ML5.js
        li Shaders for Scaredy Cats
        li Movement-Based Interaction Design
        li Coding for Live Performance
      h3 SOME CURRENT IDEAS
      ul
        li WebVR with Mozilla Hubs
        li Hydra/p5.js exquisite corpse algo-rave
        li Remixing videos using command line tools
        li Discussing design and typographical aesthetics of code
        li Discussing the codification of color
        li Discussing internet histories