doctype html
html(lang="en")
  
  include includes/head.pug

  body
  
    include includes/header.pug
    
    main.bubble3
      block content
    
    include includes/footer.pug
    
    block scripts