doctype html
html(lang="en")

  include includes/head.pug

  body
  
    include includes/header.pug
    
    main(class="bubble3")
    
      div(class="container")
      
      include includes/searchForm2.pug