<footer class="footer">
  <!-- <div class="footer-container"> -->
    <div>
      <h2>COME JOIN US!</h2>
      <p>As of Spring 2026, we're kicking off in-person meetings in Cologne, Germany, beginning mid-April, Thursdays 11a-1p CET. We will also offer a hybrid online meetup — get in touch if you're interested!</p>
      <!-- <p>As of Spring 2026, we're meeting online first and third Tuesdays, 10a–12p Pacific Time — DM us for the link!</p> -->
      <!-- <p>We have in person meetups at UC Santa Cruz on first and third Wednesdays, 7p at <a href="https://slugworks.engineering.ucsc.edu/">Slugworks</a>.</p> -->
    </div>
    <div>
      <h2>LEARN MORE</h2>
      <p>Email: <a href="mailto:sarah.ciston@khm.de">sarah.ciston at khm dot de</a></p>
      <p>Email: <a href="mailto:samirghosh@usc.edu">samirghosh at ucsc dot edu</a></p>
      <p>Instagram: <a href="https://instagram.com/creativecodecollective">@creativecodecollective</a></p>
    </div>
    <div>
      <h2>COLOPHON</h2>
      <p>This website is a work in progress and is made possible by the creative work of others, including:</p>
      <p>Headings are set in <a href="http://www.nmtype.com/movement/">Movement</a> by Noel Pretorius and Mariá Ramos, via <a href="https://www.design-research.be/by-womxn/">Badass Libre Fonts by Womxn</a>. Movement is a variable font inspired by dance movements. Creative Commons license CC BY-ND 4.0.</p>
      <p>Body text is set in <a href="https://github.com/tonsky/FiraCode">Fira Code</a> by Nikita Prokopov. Fira Code is a monospace font with programming ligatures and extensive support for textual graphics. SIL Open Font License 1.1.</p>
      <p>Creative Code Collective, 2021-</p>
    </div>
  <!-- </div> -->
</footer>
